@use '@angular/material' as mat;
@use './styles/theme-colors' as theme-colors;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette
      ),
      typography: Roboto,
      density: 0,
    )
  )
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
